# Find top 10% of purchased products according to productID.

In [13]:
import pandas as pd
import import_ipynb
from DBHandler import MongoDB as db

In [3]:
bhmic_list = list(db.getCollection().find())
bhmic_cart_df = pd.json_normalize(bhmic_list, record_path='cart',meta=['target'])
vergan_cart_df = bhmic_cart_df[bhmic_cart_df['target'] == 'vergani']

In [12]:
products = vergan_cart_df['productID'].value_counts().head(int(len(vergan_cart_df['productID']) * 0.1)).reset_index().rename(columns={"index":"productID","productID":"Purchased"})
# products['productID'].to_numpy()

In [7]:
pd.DataFrame(products)

   productID  Purchased
0       6466         25
1       6262         16
2       7093         13
3       7191         10
4       7005          9
..       ...        ...
63      6743          3
64      7177          3
65      6830          3
66      6348          3
67      6336          3

[68 rows x 2 columns]